* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  outline: 0;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

body {
  background-color: #e6ecf0;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

header#main-header {
  height: 46px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  font-size: 13px;
  color: #667580;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

header#main-header nav ul li:first-child {
  margin-left: 0;
}

header#main-header nav ul li img {
  margin-right: 7px;
}

header#main-header div.side {
  display: flex;
}

header#main-header div.side input {
  border: 1px solid #e6ecf0;
  border-radius: 100px;
  width: 220px;
  height: 32px;
  padding: 0 32px 0 12px;
  color: #667581;
  font-size: 12px;
  font-weight: 500;
  background: #f5f8fa url("/images/search.svg") no-repeat 190px center;
}

header#main-header div.side img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side button {
  height: 34px;
  background-color: #3bb9e3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
}

div.banner {
  height: 380px;
  width: 100%;
  background: #3bb9e3;
  overflow: hidden;
}

div.bar {
  height: 59px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar ul {
  height: 100%;
  list-style: none;
  display: flex;
  margin-left: 285px;
}

div.bar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 0 15px;
  position: relative;
}

div.bar ul li.active::after {
  content: "";
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1da1f2;
}

div.bar ul li span {
  font-size: 12px;
  color: #707e88;
}

div.bar ul li strong {
  font-size: 18px;
  color: #788a98;
}

div.bar ul li.active strong {
  color: #1da1f2;
}

div.bar div.actions {
  display: flex;
  align-items: center;
}

div.bar div.actions a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

div.bar div.actions button {
  height: 36px;
  width: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #1da1f2;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #1da1f2;
  border-radius: 25px;
  margin-right: 5px;
  cursor: pointer;
}

div.wrapper-content {
  display: flex;
}

div.wrapper-content.container {
  align-items: flex-start;
}

div.wrapper-content aside.profile {
  width: 260px;
}

div.wrapper-content aside.profile img.avatar {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-top: -170px;
}

div.wrapper-content aside.profile h1 {
  font-size: 22px;
  color: #101214;
  margin-top: 10px;
}

div.wrapper-content aside.profile span {
  font-size: 14px;
  color: #566374;
}

div.wrapper-content aside.profile p {
  font-size: 14px;
  color: #14171a;
  margin-top: 15px;
}

div.wrapper-content aside.profile ul {
  margin-top: 20px;
  list-style: none;
}

div.wrapper-content aside.profile ul li {
  font-size: 14px;
  color: #536373;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

div.wrapper-content aside.profile ul li:first {
  margin-top: 0;
}

div.wrapper-content aside.profile ul li img {
  margin-right: 10px;
}

div.wrapper-content aside.profile ul li a:link,
div.wrapper-content aside.profile ul li a:hover,
div.wrapper-content aside.profile ul li a:visited,
div.wrapper-content aside.profile ul li a:active {
  color: #0b5cad;
  text-decoration: none;
}

div.wrapper-content aside.profile .widget {
  margin-top: 20px;
}

div.wrapper-content aside.profile .widget strong {
  font-weight: normal;
  color: #1da1f2;
  font-size: 14px;
  display: flex;
  align-items: center;
}

div.wrapper-content aside.profile .widget strong img {
  margin-right: 5px;
}

div.wrapper-content aside.profile div.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

div.wrapper-content aside.profile div.actions button {
  height: 36px;
  width: 128px;
  background: #1da1f2;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-radius: 25px;
  margin-right: 5px;
  cursor: pointer;
}

div.wrapper-content aside.profile .widget ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

div.wrapper-content aside.profile .followers ul li {
  width: 48px;
  height: 48px;
  background-color: #d0d5d9;
  border-radius: 50%;
  flex-shrink: 0;
  margin: 0 4px 4px 0;
}

div.wrapper-content aside.profile .images ul li {
  width: 83px;
  height: 83px;
  background-color: #d0d5d9;
  border-radius: 5%;
  flex-shrink: 0;
  margin: 0 3px 3px 0;
}

div.wrapper-content aside.widgets {
  width: 290px;
}

div.wrapper-content aside.widgets .widget {
  background: #fff;
  padding: 15px;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .widget.follow .title {
  display: flex;
  align-items: center;
}

div.wrapper-content aside.widgets .widget.follow .title strong {
  font-size: 17px;
  font-weight: normal;
  margin-right: 10px;
}

div.wrapper-content aside.widgets .widget.follow .title a:link,
div.wrapper-content aside.widgets .widget.follow .title a:hover,
div.wrapper-content aside.widgets .widget.follow .title a:visited,
div.wrapper-content aside.widgets .widget.follow .title a:active {
  color: #1da1f2;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  margin-right: 8px;
}

div.wrapper-content aside.widgets .widget.follow .title:last-child {
  margin-right: 0;
}

div.wrapper-content aside.widgets .widget.follow ul {
  list-style: none;
}

div.wrapper-content aside.widgets .widget.follow ul li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 0;
  height: 79px;
  border-bottom: 1px solid #e6ecf0;
}

div.wrapper-content aside.widgets .widget.follow ul li .profile {
  display: flex;
}

div.wrapper-content aside.widgets .widget.follow ul li .profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 15px;
}

div.wrapper-content aside.widgets .widget.follow ul li .profile .info {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #333;
}

div.wrapper-content aside.widgets .widget.follow ul li .profile .info span {
  color: #536373;
  font-weight: normal;
}

div.wrapper-content aside.widgets .widget.follow ul li .profile .info button {
  height: 29px;
  width: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #1da1f2;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #1da1f2;
  border-radius: 25px;
  margin-top: 5px;
  cursor: pointer;
}

div.wrapper-content aside.widgets .widget.follow ul li a:link,
div.wrapper-content aside.widgets .widget.follow ul li a:hover,
div.wrapper-content aside.widgets .widget.follow ul li a:visited,
div.wrapper-content aside.widgets .widget.follow ul li a:active {
  color: #ccd6dd;
  text-decoration: none;
}

div.wrapper-content aside.widgets .widget.follow .footer {
  margin-top: 15px;
}

div.wrapper-content aside.widgets .widget.trends {
  font-size: 17px;
  font-weight: bold;
  color: #292f33;
}

div.wrapper-content aside.widgets .widget.trends ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

div.wrapper-content aside.widgets .widget.trends ul li {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: normal;
  color: #536373;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .widget.trends ul li a:link,
div.wrapper-content aside.widgets .widget.trends ul li a:hover,
div.wrapper-content aside.widgets .widget.trends ul li a:visited,
div.wrapper-content aside.widgets .widget.trends ul li a:active {
  color: #1d8dee;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 3px;
}
